absl-py==2.1.0
ann_visualizer==2.5
annotated-types==0.7.0
asttokens==2.4.1
astunparse==1.6.3
bayesian-optimization==1.4.3
blis==0.7.11
cachetools==5.3.3
catalogue==2.0.10
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.19.0
colorama==0.4.6
comm==0.2.2
confection==0.1.5
contourpy==1.2.1
cycler==0.12.1
cymem==2.0.8
debugpy==1.8.1
decorator==5.1.1
dotenv==0.9.9
exceptiongroup==1.2.0
executing==2.0.1